.background{
    background-image: url(../login/images/loginback3.jpg); 

   background-size:cover;
   background-color: darkslategrey;
    background-position: center center;
    height: 1080px;
    opacity: 100%;

}