<div class="container">
    <h2>List of Reimburstments</h2>
    <table class="table table-striped">
      <thead>
        <tr >
          <th>ID</th>
          <th>Status</th>
          <th>Amount</th>
          <th>Date Created</th>
          <th>Date Submitted</th>
          <th>Employee ID</th>
          <th></th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let reimburstment of employeeView">
            <td>{{ reimburstment.id }}</td>
            <td>{{ reimburstment.status}}</td>
            <td>{{ reimburstment.amount }}</td>
            <td>{{ reimburstment.date}}</td>
            <td>{{ reimburstment.sumbitDate}}</td>
            <td>{{ reimburstment.employeeId}}</td>
            <td>
                <button 
                    type="button" 
                    class="btn btn-primary small"
                    (click)="ApproveReimburstmentRoute(reimburstment.id)">
                    <span class="material-icons">edit</span>
                </button>
            </td>
        </tr>
      </tbody>
</table>
</div>