<div class="container mb-5">
  <h2 style="margin-top: 30px;">Account Information</h2>
  <div class="card mt-5">
    <div class="card-header bg-info text-white">USER ID: {{ userInfo.id }}</div>
    <div class="card-body">
      <form #myForm="ngForm" (submit)="editInfo()">
        <div class="form-group">
          <label for="userPassword">Password:</label>

          <!-- <span *ngIf="checkPassword == false; then thenBlockPassword; else elseBlock"></span>
          <ng-template #thenBlockPassword>Please enter a valid password</ng-template>
          <ng-template #elseBlock></ng-template> -->

          <input type="text" class="form-control" id="userPassword" placeholder="Password" name="userPassword"
            [(ngModel)]="updateInfo.password">
        </div>
        <div class="form-group">
          <label for="userAddress">Address:</label>

          <!-- <span *ngIf="checkUserAddress == false; then thenBlockAddress; else elseBlock"></span>
          <ng-template #thenBlockAddress>Please enter an address</ng-template>
          <ng-template #elseBlock></ng-template> -->

          <input type="text" class="form-control" id="userAddress" placeholder="Address" name="userAddress"
            [(ngModel)]="updateInfo.address" required>
        </div>
        <div class="card-footer bg-dark">
          <button type="submit" class="btn btn-warning mr-5" [disabled]='!myForm.valid'>Update</button>
        </div>
      </form>
    </div>
  </div>
</div>